# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environments
venv/
.env

# OS / editor junk
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# Tests / coverage
htmlcov/
.coverage*
.pytest_cache/

# Node (in case of future frontend)
node_modules/

# IDE
.vscode/
.idea/

# Database data (MongoDB)
data/db/
